<!--swiper-container navigation="true" pagination="true" scrollbar="true">
    <swiper-slide> <div class="slide-content"> Slide 1</div> </swiper-slide>
    <swiper-slide> <div class="slide-content"> Slide 2</div> </swiper-slide>
    <swiper-slide> <div class="slide-content"> Slide 3</div> </swiper-slide>
    ...
  </swiper-container-->


  <swiper-container navigation="true" pagination="true" scrollbar="true"
    >
    <swiper-slide> <div class="slide-content"> <img src="./assets/imgg/img1.webp"></div> </swiper-slide>
    <swiper-slide> <div class="slide-content"> <img src="./assets/imgg/img2.jpg"></div> </swiper-slide>
    <swiper-slide> <div class="slide-content"> <img src="./assets/imgg/img3.webp"></div> </swiper-slide>
    
  </swiper-container>